In [24]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
from sklearn.linear_model import LogisticRegression

# Data reading in and wrangling

Here we read in the data and get it in the shape we want. We read it in with *pd.read_csv()* We fill in the age with the median value with the *test['Age'].fillna((test['Age'].mean()), inplace=True)* command and the we one hot encode the sex and Pclass with sklearn's LabelBinarizer.

In [66]:
def readInData():
    test, train = pd.read_csv('titanic/test.csv'), pd.read_csv('titanic/train.csv')
    # Fill age with mean
    test['Age'].fillna((test['Age'].mean()), inplace=True)
    train['Age'].fillna((train['Age'].mean()), inplace=True)
    
    
    # One hot encode Pclass
    y = LabelBinarizer().fit_transform(train.Pclass)
    train = pd.concat([train, pd.DataFrame(y)], axis=1)
    
    # One hot encode Pclass
    y = LabelBinarizer().fit_transform(test.Pclass)
    test = pd.concat([test, pd.DataFrame(y)], axis=1)
    
    # One hot encode Sex
    y = LabelBinarizer().fit_transform(train.Sex)
    train = pd.concat([train, pd.DataFrame(y)], axis=1)
    
    # One hot encode Sex
    y = LabelBinarizer().fit_transform(test.Sex)
    test = pd.concat([test, pd.DataFrame(y)], axis=1)
    
    train = train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Pclass', 'Sex'], axis=1)
    test = test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Pclass', 'Sex'], axis=1)
    
    train = train.dropna()
    test = test.fillna(0)
    
    return test.values, train['Survived'].values, train.drop(['Survived'], axis=1).values
x_test, y, X = readInData()

In [69]:
clf = LogisticRegression(random_state=0, max_iter = 500).fit(X, y)
clf.predict(x_test)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [72]:
df = pd.read_csv('titanic/gender_submission.csv')
df['Survived']=pd.Series(clf.predict(x_test))
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]